.page {
    background-image: url(../../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 375px;
    margin: auto;
    font-family: Arial, sans-serif;
    color: white;
}

@media screen and (max-width: 767px) {
    .page {
        background-image: url(../../images/background-mobile.webp);
        background-position: bottom;
    }
}