.lost-popup__title {
    font-size: 56px;
    line-height: 67px;
    margin: 0 auto 20px;
}

@media screen and (max-width: 1919px) {
    .lost-popup__title {
        font-size: 36px;
        line-height: 44px;
    }
}