.lost-popup__container {
    width: 631px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1919px) {
    .lost-popup__container {
        margin-left: 22px;
        width: 406px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 767px) {
    .lost-popup__container {
        top: 148px;
    }
}