.lost-popup__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 23px;
    bottom: -33px;
    width: 515px;
}

@media screen and (max-width: 1919px) {
    .lost-popup__info {
        left: 15px;
        bottom: -21px;
        width: 330px;
    }
}