.popup__message {
    margin: 0 auto 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1919px) {
    .popup__message {
        margin: 0 auto 10px;
        font-size: 20px;
        line-height: 24px;
    }
}