.win-popup__title {
    font-size: 64px;
    line-height: 77px;
    margin: 0 auto -3px;
}

@media screen and (max-width: 1919px) {
    .win-popup__title {
        font-size: 40px;
        line-height: 48px;
        margin: 0 auto 1px;
    }
}